APP_ENV=local
LOG_LEVEL=INFO
SERVICE_PORT=8000

MODEL_NAME=BAAI/bge-m3
USE_FP16=true
DEVICES=cpu  # set to cuda:0 (or cuda:0,cuda:1 etc.) for GPU
MODEL_BATCH_SIZE=12
MAX_LENGTH=8192
MAX_CONCURRENT_INFERENCES=2
TORCH_NUM_THREADS=2
MAX_TEXTS_PER_REQUEST=128
